<template>
    <div class="container my-4">
        <div class="page-header clearfix mb-3">
            <h1 class="page-title pull-left">Свойства</h1>
        </div>

        <div class="card shadow-sm border-0">
            <div class="card-header">
                <div class="float-right">
                    <router-link
                        :to="{name: 'shop.catalog.features.create'}"
                        class="btn btn-primary float-right rounded-pill"
                    >Добавить
                    </router-link>
                </div>
            </div>
            <div class="card-body p-0">
                <div v-if="!loaded" class="text-center py-4">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table v-else class="table table-hover table-striped mb-0">
                    <tr>
                        <th class="p-2 w-5 font-weight-light text-muted text-center">ID</th>
                        <th class="p-2 w-80 font-weight-light text-muted">Название</th>
                        <th class="p-2 w-10 font-weight-light text-muted text-center">Действия</th>
                    </tr>
                    <tr v-for="(model) in models">
                        <td class="p-2 align-middle text-muted text-center">
                            {{ model.id }}
                        </td>
                        <td class="p-2 align-middle">
                            {{ model.name }}
                        </td>
                        <td class="p-2 align-middle text-center">
                            <div class="btn btn-link p-1" v-if="model.deleted">
                                <span
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    aria-hidden="true"
                                />
                            </div>
                            <div v-else>
                                <router-link
                                    :to="{name: 'shop.catalog.features.edit', params: { id: model.id }}"
                                    class="btn btn-link p-1 pr-2"
                                    data-toggle="tooltip"
                                    data-original-title="Редактировать"
                                ><i class="fa fa-pencil"/></router-link>
                                <button
                                    class="btn btn-link p-1"
                                    data-toggle="tooltip"
                                    data-original-title="Удалить"
                                    @click="remove(model)"
                                ><i class="fa fa-trash-o"/></button>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="card-footer pt-4 pb-2">
                <vue-pagination
                    v-if="models.length"
                    :pagination="pagination"
                    @paginate="loadModels"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import {deleteFeature, getFeatures} from "../../../../api/shop/catalog/features";
    import {appendFieldToCollection} from "../../../../helpers/object";

    export default {
        data() {
            return {
                loaded: false,
                models: [],
                pagination: {},
            }
        },
        mounted() {
            this.loadModels();
        },
        methods: {
            loadModels(page = 1) {
                getFeatures({page: page}).then((response) => {
                    this.loaded = true;
                    this.models = appendFieldToCollection(response.data.data, 'deleted', false);
                    this.pagination = response.data.meta;
                }).catch(() => alert("Could not load models"));
            },
            remove(model) {
                if (!confirm("Удалить?")) {
                    return false;
                }

                model.deleted = true;

                deleteFeature(model.id).then(() => {
                    this.loadModels(this.pagination.current_page);
                    this.$flash.error('Свойство удалено')
                }).catch(() => alert("Could not delete model"));
            }
        }
    }
</script>
