<template>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">Test</a>

            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
            ><span class="navbar-toggler-icon"/></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a
                            :class="['nav-link', 'dropdown-toggle', isRoutePath('shop.catalog') ? 'active' : '']"
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Каталог <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link
                                :to="{name: 'shop.catalog.categories.index'}"
                                :class="['dropdown-item', isRoutePath('shop.catalog.categories') ? 'active' : '']"
                            >Категории</router-link>
                            <router-link
                                :to="{name: 'shop.catalog.brands.index'}"
                                :class="['dropdown-item', isRoutePath('shop.catalog.brands') ? 'active' : '']"
                            >Бренды</router-link>
                            <router-link
                                :to="{name: 'shop.catalog.features.index'}"
                                :class="['dropdown-item', isRoutePath('shop.catalog.features') ? 'active' : '']"
                            >Свойства</router-link>
                            <router-link
                                :to="{name: 'shop.catalog.flags.index'}"
                                :class="['dropdown-item', isRoutePath('shop.catalog.flags') ? 'active' : '']"
                            >Флаги товаров</router-link>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        methods: {
            isRoutePath(name) {
                return this.$route.name.indexOf(name) === 0;
            }
        }
    }
</script>
