<template>
    <div class="container my-4">
        <div class="page-header clearfix mb-3">
            <h1 class="page-title pull-left">
                <router-link :to="{name: 'shop.catalog.categories.index'}">Категории</router-link>
                <span v-if="loaded && model.id">
                    / {{ model.name }}
                </span>
                <span v-else-if="loaded">
                    / Создать
                </span>
            </h1>
        </div>

        <div class="card shadow-sm border-0">
            <div class="card-header">
                <router-link :to="{name: 'shop.catalog.categories.index'}" class="btn btn-link">список</router-link>
            </div>
            <div class="card-body pb-1">
                <div v-if="!loaded" class="text-center pb-3">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div v-else class="row">
                    <div class="col-md-10 offset-md-1">
                        <form-group-input
                            label="Название"
                            v-model="model.name"
                            :dataErrors="errors.name"
                        />

                        <form-group-switch
                            label="Активность"
                            v-model="model.is_visible"
                            :dataErrors="errors.is_visible"
                        />

                        <form-group-select2
                            label="Вложенность"
                            v-model="model.parent_id"
                            :dataErrors="errors.parent_id"
                            ajaxSource="api/shop/catalog/categories"
                        />

                        <form-group-image
                            label="Изображение"
                            :preview="previewImage"
                            :dataErrors="errors.image"
                            v-on:removeImage="removeImage"
                            v-on:uploadImage="updateImage($event)"
                        />

                        <hr>

                        <form-group-textarea
                            label="Аннотация"
                            v-model="model.annotation"
                            :dataErrors="errors.annotation"
                            cols="30"
                            rows="5"
                        />

                        <form-group-textarea
                            label="Описание"
                            v-model="model.description"
                            :dataErrors="errors.description"
                            cols="30"
                            rows="5"
                        />

                        <hr>

                        <form-group-input
                            label="ЧПУ"
                            v-model="model.slug"
                            :dataErrors="errors.slug"
                        />

                        <form-group-input
                            label="Заголовок <span class='text-muted'>(H1)</span>"
                            v-model="model.page_title"
                            :dataErrors="errors.page_title"
                        />

                        <form-group-textarea
                            label="Заголовок <span class='text-muted'>(Title)</span>"
                            v-model="model.meta_title"
                            :dataErrors="errors.meta_title"
                            cols="30"
                            rows="3"
                        />

                        <form-group-textarea
                            label="Ключевые слова <span class='text-muted'>(Keywords)</span>"
                            v-model="model.meta_keywords"
                            :dataErrors="errors.meta_keywords"
                            cols="30"
                            rows="3"
                        />

                        <form-group-textarea
                            label="Описание <span class='text-muted'>(Description)</span>"
                            v-model="model.meta_description"
                            :dataErrors="errors.meta_description"
                            cols="30"
                            rows="3"
                        />
                    </div>
                </div>
            </div>
            <div v-if="loaded" class="card-footer text-center">
                <div class="btn btn-link" v-if="saving">
                    <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                    />
                </div>
                <div v-else>
                    <button
                        type="submit"
                        name="submit-save"
                        class="btn btn-outline-primary mr-2 rounded-pill"
                        @click="save()"
                    >
                        Сохранить
                    </button>
                    <button
                        type="submit"
                        name="submit-apply"
                        class="btn btn-outline-dark rounded-pill"
                        @click="save(true)"
                    >
                        Применить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FormGroupInput from "../../../form/FormGroupInput";
    import FormGroupSwitch from "../../../form/FormGroupSwitch";
    import FormGroupTextarea from "../../../form/FormGroupTextarea";
    import FormGroupImage from "../../../form/FormGroupImage";
    import {addCategory, getCategoryById, updateCategory} from "../../../../api/shop/catalog/categories";
    import {slugWatcher} from "../../../../helpers/string";
    import {objectToFormData} from "../../../../helpers/object";
    import FormGroupSelect2 from "../../../form/FormGroupSelect2";

    export default {
        components: {
            FormGroupSelect2,
            FormGroupInput,
            FormGroupSwitch,
            FormGroupImage,
            FormGroupTextarea,
        },
        data() {
            return {
                loaded: false,
                saving: false,
                model: {
                    id: '',
                    parent_id: '',
                    name: '',
                    slug: '',
                    preview: '',
                    image: '',
                    is_visible: 1,
                    annotation: '',
                    description: '',
                    page_title: '',
                    meta_title: '',
                    meta_keywords: '',
                    meta_description: '',
                },
                previewImage: '',
                uploadImage: '',
                errors: []
            }
        },
        watch: {
            'model.name'(newValue, oldValue) {
                this.model.slug = slugWatcher(this.model.slug, newValue, oldValue)
            }
        },
        created() {
            if (this.$route.params.id) {
                this.loadModel(this.$route.params.id)
            } else {
                this.loaded = true;
            }
        },
        methods: {
            loadModel(id) {
                getCategoryById(id).then((response) => {
                    this.loaded = true;
                    this.setModel(response.data.data)
                });
            },
            setModel(data) {
                this.model = data;
                this.previewImage = this.model.preview;
            },
            save(apply = false) {
                this.saving = true;
                this.model.id ? this.update(apply) : this.add(apply)
            },
            update(apply = false) {
                updateCategory(this.model.id, this.getData()).then((response) => {
                    this.setModel(response.data.data);
                    this.success(apply, 'Категория обновлена');
                }).catch((error) => {
                    this.error(error.response.data)
                });
            },
            add(apply = false) {
                addCategory(this.getData()).then((response) => {
                    this.setModel(response.data.data);
                    this.success(apply, 'Категория добавлена');
                }).catch((error) => {
                    this.error(error.response.data);
                });
            },
            updateImage(event) {
                this.previewImage = event.preview;
                this.uploadImage = event.upload;
            },
            removeImage() {
                this.model.image = '';
                this.previewImage = '';
                this.uploadImage = '';
            },
            getData() {
                let data = objectToFormData(this.model);

                if (this.uploadImage) {
                    data.append('upload_image', this.uploadImage);
                }

                return data;
            },
            success(apply = false, text) {
                this.$flash.success(text);

                if (!apply) {
                    this.$router.push({name: 'shop.catalog.categories.index'})
                }

                this.error();
            },
            error(data = null) {
                this.saving = false;

                if (data && data.message) {
                    this.$flash.error(data.message);
                }

                this.errors = data && data.errors ? data.errors : [];
            }
        }
    }
</script>
