<template>
    <div class="container my-4">
        <div class="page-header clearfix mb-3">
            <h1 class="page-title pull-left">
                <router-link :to="{name: 'shop.catalog.flags.index'}">Флаги товаров</router-link>
                <span v-if="loaded && model.id">
                    / {{ model.name }}
                </span>
                <span v-else-if="loaded">
                    / Создать
                </span>
            </h1>
        </div>

        <div class="card shadow-sm border-0">
            <div class="card-header">
                <router-link :to="{name: 'shop.catalog.flags.index'}" class="btn btn-link">список</router-link>
            </div>
            <div class="card-body pb-1">
                <div v-if="!loaded" class="text-center pb-3">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div v-else class="row">
                    <div class="col-md-10 offset-md-1">
                        <form-group-input
                            label="Название"
                            v-model="model.name"
                            :dataErrors="errors.name"
                        >
                            <template v-slot:append>
                                <verte
                                    picker="square"
                                    model="hex"
                                    v-model="model.color"
                                    :class="['px-2']"
                                />
                                <input type="hidden" v-model="model.color">
                            </template>
                        </form-group-input>

                        <form-group-input
                            label="Код"
                            v-model="model.code"
                            :dataErrors="errors.code"
                        />
                    </div>
                </div>
            </div>
            <div v-if="loaded" class="card-footer text-center">
                <div class="btn btn-link" v-if="saving">
                    <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                    />
                </div>
                <div v-else>
                    <button
                        type="submit"
                        name="submit-save"
                        class="btn btn-outline-primary mr-2 rounded-pill"
                        @click="save()"
                    >
                        Сохранить
                    </button>
                    <button
                        type="submit"
                        name="submit-apply"
                        class="btn btn-outline-dark rounded-pill"
                        @click="save(true)"
                    >
                        Применить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FormGroupInput from "../../../form/FormGroupInput";
    import {addFlag, getFlagById, updateFlag} from "../../../../api/shop/catalog/flags";
    import {slugWatcher} from "../../../../helpers/string";
    import {objectToFormData} from "../../../../helpers/object";

    import verte from 'verte';
    import 'verte/dist/verte.css';

    export default {
        components: {
            verte,
            FormGroupInput
        },
        data() {
            return {
                loaded: false,
                saving: false,
                model: {
                    id: null,
                    name: '',
                    code: '',
                    color: '',
                },
                errors: [],
            }
        },
        watch: {
            'model.name'(newValue, oldValue) {
                this.model.code = slugWatcher(this.model.code, newValue, oldValue)
            }
        },
        created() {
            if (this.$route.params.id) {
                this.loadModel(this.$route.params.id)
            } else {
                this.loaded = true;
            }
        },
        methods: {
            loadModel(id) {
                getFlagById(id).then((response) => {
                    this.loaded = true;
                    this.setModel(response.data.data)
                });
            },
            setModel(data) {
                this.model = data;
            },
            save(apply = false) {
                this.saving = true;
                this.model.id ? this.update(apply) : this.add(apply)
            },
            update(apply = false) {
                updateFlag(this.model.id, this.model).then((response) => {
                    this.setModel(response.data.data);
                    this.success(apply, 'Флаг обновлен');
                }).catch((error) => {
                    this.error(error.response.data)
                });
            },
            add(apply = false) {
                addFlag(this.model).then((response) => {
                    this.setModel(response.data.data);
                    this.success(apply, 'Флаг добавлен');
                }).catch((error) => {
                    this.error(error.response.data);
                });
            },
            success(apply = false, text) {
                this.$flash.success(text);

                if (!apply) {
                    this.$router.push({name: 'shop.catalog.flags.index'})
                }

                this.error();
            },
            error(data = null) {
                this.saving = false;

                if (data && data.message) {
                    this.$flash.error(data.message);
                }

                this.errors = data && data.errors ? data.errors : [];
            }
        }
    }
</script>
