<template>
    <div class="position-absolute w-100">
        <div class="container position-relative flash-messages">
            <div v-if="messages.length" class="flash-message position-fixed d-inline-block my-2">
                <div
                    v-for="message in messages"
                    :class="['alert', message.type === 'success' ? 'alert-success' : 'alert-danger']"
                    role="alert"
                >{{ message.text }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            messages() {
                return this.$store.state.flashMessages;
            }
        }
    }
</script>

<style scoped>
    .flash-messages {
        z-index: 99;
    }

    .flash-message {
        top: 15px;
        right: 15px;
        margin-right: 0;
    }
</style>
