<template>
    <div class="form-group row">
        <label :for="`select${_uid}`" class="col-md-3 col-form-label" v-html="label"></label>
        <div class="col-md-9">
            <select
                :id="`select${_uid}`"
                class="form-control border"
                :value="value"
                @input="$emit('input', $event.target.value)"
            >
            </select>
            <div class="invalid-feedback" v-if="dataErrors">
                <strong v-for="error in dataErrors">{{ error }}</strong>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'label',
            'value',
            'placeholder',
            'ajaxSource',
            'dataErrors'
        ],
        mounted() {
            this.buildSelect2()
        },
        methods: {
            buildSelect2() {
                let options = {
                    placeholder: this.placeholder,
                };

                console.log(this.ajaxSource);

                if (this.ajaxSource) {
                    options.ajax = {
                        url: this.ajaxSource,
                        dataType: 'json',
                        data: function (params) {
                            return {
                                search: {
                                    name: params.term
                                }
                            }
                        },
                        processResults: function (response) {
                            let results = [];

                            response.data.forEach((item) => {
                                results.push({
                                    id: item.id,
                                    text: item.name,
                                })
                            });

                            return {
                                results: results
                            };
                        },
                        cache: true
                    }
                }

                $('#select' + this._uid).select2(options);
            }
        }
    }
</script>

<style scoped>

</style>
