<template>
    <div class="form-group row">
        <label :for="`input${_uid}`" class="col-md-3 col-form-label" v-html="label"></label>
        <div class="col-md-9">
            <div class="d-flex align-items-center">
                <slot name="prepend"/>
                <input
                    :id="`input${_uid}`"
                    type="text"
                    :class="['form-control', dataErrors ? 'is-invalid' : '']"
                    v-bind:value="value"
                    v-on:input="$emit('input', $event.target.value)"
                    v-bind="$attrs"
                />
                <slot name="append"/>
            </div>
            <div class="invalid-feedback" v-if="dataErrors">
                <strong v-for="error in dataErrors">{{ error }}</strong>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'label',
            'value',
            'dataErrors'
        ]
    }
</script>
