<template>
    <div class="form-group row">
        <label :for="`input${_uid}`" class="col-md-3 col-form-label">{{ label }}</label>
        <div class="col-md-9">
            <div
                v-if="preview"
                @mouseover="removeVisible = true"
                @mouseleave="removeVisible = false"
                class="position-relative d-inline-block"
            >
                <img :src="preview" alt="" class="img-thumbnail d-block" style="max-width: 200px; max-height: 200px">
                <button
                    class="btn btn-danger rounded-pill remove-image"
                    @click="$emit('removeImage')"
                    type="button"
                    v-if="removeVisible"
                ><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="custom-file mt-2">
                <input
                    :id="`input${_uid}`"
                    type="file"
                    :class="['custom-file-input', dataErrors ? 'is-invalid' : '']"
                    @change="selectImage"
                />
                <label class="custom-file-label" :id="`input${_uid}`">Выбрать файл</label>
            </div>
            <div class="invalid-feedback" v-if="dataErrors">
                <strong v-for="error in dataErrors">{{ error }}</strong>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'label',
            'dataErrors',
            'preview'
        ],
        data() {
            return {
                removeVisible: false
            }
        },
        methods: {
            selectImage: function (e) {
                let reader = new FileReader();

                reader.onload = (event) => {
                    this.$emit('uploadImage', {
                        preview: event.target.result,
                        upload: e.target.files[0]
                    });
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        }
    }
</script>

<style>
    .remove-image {
        position: absolute;
        z-index:99;
        top: 10px;
        right: 10px;
    }
</style>
