<template>
    <div class="form-group row">
        <label :for="`input${_uid}`" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <div class="d-flex align-items-center">
                <div class="custom-control custom-switch">
                    <input
                        type="checkbox"
                        :class="['custom-control-input', dataErrors ? 'is-invalid' : '']"
                        :id="`customSwitch${_uid}`"
                        :value="value"
                        :checked="value"
                        @input="$emit('input', $event.target.checked ? 1 : 0)"
                    >
                    <label class="custom-control-label" :for="`customSwitch${_uid}`" v-html="label"></label>
                </div>
            </div>
            <div class="invalid-feedback" v-if="dataErrors">
                <strong v-for="error in dataErrors">{{ error }}</strong>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'label',
            'value',
            'dataErrors'
        ]
    }
</script>
