<template>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Home Component
                    </div>
                    <div class="card-body">
                        I'm an home component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
